* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.all {
    box-sizing: border-box;
    padding: 30px 15px 0;
    width: 100%;
    height: 300px;
}
.head {
    width: 100%;
    display: flex;
    justify-content: start;
}
.head span {
    flex: 1;
    position: relative;
    box-sizing: border-box;
    padding-top: 6px;
}
.head span img {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;   
}
.pronounce {
    margin-top: 25px;
    display: flex;
}
.pronounce img {
    width: 20.8px;
    height: 20.8px;
    margin-left: 10px;
}
.meaning {
    margin-top: 10px;
    box-sizing: border-box;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(196, 196, 196);
}
body {
    position: relative;
    background-color: rgb(247,247,247);

}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    padding: 10px 0;
    background-color: rgb(247,247,247);
}
.footer .footer-text {
    width: 80px;

    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(173, 175, 173);   
}
.footer .continue {
    flex: 1;
    background-color: rgb(123, 181, 228);
    color: blue;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 20px;
}